In [1]:
import pymongo

In [7]:
client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

mydb=client['Employee'] # creating a database employee if not present
empinfo=mydb.employeeInformation #employeeinformation collection, empinfo is the collection.

In [30]:
record=[
    {
'first_name':'Manideep',
'last_name':'Mittapalli'
    },
    {
        'first_name':'Krishna',
        'last_name':'Naik',
        'age':25
    },
    {
        'first_name':'Rama',
        'last_name':'Chandra',
        'age':35
    }
]

In [31]:
empinfo.insert_many(record)

In [32]:
## 
empinfo.find_one()

{'_id': ObjectId('5f0545cddd137205c3423034'),
 'first_name': 'Manideep',
 'Last_name': 'Mittapalli'}

In [33]:
# select * from empinfo.
for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('5f0545cddd137205c3423034'), 'first_name': 'Manideep', 'Last_name': 'Mittapalli'}
{'_id': ObjectId('5f054699dd137205c342303b'), 'first_name': 'Manideep', 'Last_name': 'Mittapalli'}
{'_id': ObjectId('5f054699dd137205c342303c'), 'first': 'Krishna', 'last': 'Naik'}
{'_id': ObjectId('5f054a690c98e372695fe4b3'), 'first_name': 'Manideep', 'last_name': 'Mittapalli'}
{'_id': ObjectId('5f054a690c98e372695fe4b4'), 'first_name': 'Krishna', 'last_name': 'Naik'}
{'_id': ObjectId('5f0555ca0c98e372695fe4b5'), 'first_name': 'Manideep', 'last_name': 'Mittapalli'}
{'_id': ObjectId('5f0555ca0c98e372695fe4b6'), 'first_name': 'Krishna', 'last_name': 'Naik'}
{'_id': ObjectId('5f0555ca0c98e372695fe4b7'), 'first_name': 'Rama', 'last_name': 'Chandra'}
{'_id': ObjectId('5f0556ef0c98e372695fe4b8'), 'first_name': 'Manideep', 'last_name': 'Mittapalli'}
{'_id': ObjectId('5f0556ef0c98e372695fe4b9'), 'first_name': 'Krishna', 'last_name': 'Naik', 'age': 25}
{'_id': ObjectId('5f0556ef0c98e372695fe4ba'), 'first_name': 'Rama', 'last_name': 'Chandra', 'age': 35}

In [34]:
for record in empinfo.find({'first_name':'Manideep'}):
    print(record)

{'_id': ObjectId('5f0545cddd137205c3423034'), 'first_name': 'Manideep', 'Last_name': 'Mittapalli'}
{'_id': ObjectId('5f054699dd137205c342303b'), 'first_name': 'Manideep', 'Last_name': 'Mittapalli'}
{'_id': ObjectId('5f054a690c98e372695fe4b3'), 'first_name': 'Manideep', 'last_name': 'Mittapalli'}
{'_id': ObjectId('5f0555ca0c98e372695fe4b5'), 'first_name': 'Manideep', 'last_name': 'Mittapalli'}
{'_id': ObjectId('5f0556ef0c98e372695fe4b8'), 'first_name': 'Manideep', 'last_name': 'Mittapalli'}

In [35]:
for record in empinfo.find({'first_name':{'$in':['Manideep','Rama']}}):
    print(record)

{'_id': ObjectId('5f0545cddd137205c3423034'), 'first_name': 'Manideep', 'Last_name': 'Mittapalli'}
{'_id': ObjectId('5f054699dd137205c342303b'), 'first_name': 'Manideep', 'Last_name': 'Mittapalli'}
{'_id': ObjectId('5f054a690c98e372695fe4b3'), 'first_name': 'Manideep', 'last_name': 'Mittapalli'}
{'_id': ObjectId('5f0555ca0c98e372695fe4b5'), 'first_name': 'Manideep', 'last_name': 'Mittapalli'}
{'_id': ObjectId('5f0555ca0c98e372695fe4b7'), 'first_name': 'Rama', 'last_name': 'Chandra'}
{'_id': ObjectId('5f0556ef0c98e372695fe4b8'), 'first_name': 'Manideep', 'last_name': 'Mittapalli'}
{'_id': ObjectId('5f0556ef0c98e372695fe4ba'), 'first_name': 'Rama', 'last_name': 'Chandra', 'age': 35}

In [36]:
for record in empinfo.find({'first_name':{'$in':['Mani','Rama']}}):
    print(record)

{'_id': ObjectId('5f0555ca0c98e372695fe4b7'), 'first_name': 'Rama', 'last_name': 'Chandra'}
{'_id': ObjectId('5f0556ef0c98e372695fe4ba'), 'first_name': 'Rama', 'last_name': 'Chandra', 'age': 35}

In [40]:
for record in empinfo.find({'first_name':{'$in':['Krishna','Rama']},'age':{'$lt':36}}):
    print(record)#, is used for and symbol.

{'_id': ObjectId('5f0556ef0c98e372695fe4b9'), 'first_name': 'Krishna', 'last_name': 'Naik', 'age': 25}
{'_id': ObjectId('5f0556ef0c98e372695fe4ba'), 'first_name': 'Rama', 'last_name': 'Chandra', 'age': 35}

In [44]:
for record in empinfo.find({'$or':[{'first_name':'Krishna'},{'age':25}]}): # or command usage.
    print(record)

{'_id': ObjectId('5f0556ef0c98e372695fe4b9'), 'first_name': 'Krishna', 'last_name': 'Naik', 'age': 25}

In [45]:
for record in empinfo.find({'first_name':'Krishna'},{'age':25}): # or command usage.
    print(record)

{'_id': ObjectId('5f054a690c98e372695fe4b4')}
{'_id': ObjectId('5f0555ca0c98e372695fe4b6')}
{'_id': ObjectId('5f0556ef0c98e372695fe4b9'), 'age': 25}

In [47]:
import pymongo

client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

mydb=client['Employee']
inventory=mydb.inventory

In [48]:
inventory.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

In [50]:
inventory.update_one({"item":"sketch pad"},
                    {"$set":{"size.uom":"m","status":"P"},
                     "$currentDate":{"lastmodified":True}}
                    )

In [55]:
inventory.update_many(
    {"qty":{"$lt":50}},
    {"$set":{"size.uom":"in","status":"P"},
    "$currentDate":{"LastModified":True}}
)